# Project exclude paths
/out/fileToIgnore.txt
file8.txt
fileToIgnore2.txt
fileToIgnore2.txt
catsFile.txt
fileToIgnore2.txt
mala syrenka.txt
fileToIgnore2.txt
mala syrenka.txt
fileToIgnore2.txt
catsFile.txt
fileToIgnore2.txt
muminki.txt
muminki.txt
andersen.txt
andersen.txt
reverseFile.txt
mala syrenka.txt
file7.txt
specialFileToTest.txt
specialFileToTest.txt
